body {
    margin: 0px;
    padding: 0px;
    font-family: arial, helvetica, "sans serif";
}

#page {
    width: 1180px;
    margin: 0 auto 0 auto;
}
#header{
    /* border: 2px solid black; */
    color: white;
    /* background-color: #005; */
    text-align: center;
    border-radius: 25px;
    background-color: #CCCCFF;
    padding: 3ex;
}


#col_izq {
    font-size: 15px;
    width: 39%;
    float: right;
    /* border: 1px solid black; */
    border-radius: 25px;
}

#col_izq > div {
    padding: 3ex;
}

#menu {
    border-radius: 25px;
    /* border: 1px solid black; */
    color: white;
    background-color: #006;
    height: 244px;
}

#debug {
     border: 1px solid black;
     border-radius: 25px;
     color: #666666;
     max-height:500px;
     overflow-y: scroll;
}

#footer {
    clear: both;
}

#header {
    clear: both;
}

#display {
    float: left;
    background-color: white;
    z-index: 500;
    background-color: transparent;
}

#base_map {
    background-color: #003;
    border-radius: 25px;
}

.CanvasSize {
    position: absolute;
    width: 700px;
    height: 400px;
    border: 1px solid black;
}

